global:
  resolve_timeout: 5m

route:
  receiver: slack-notifications
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: slack-notifications
    slack_configs:
      - api_url: '{{ slack_webhook_url }}'
        send_resolved: true
        channel: '#alerts'
        title: '[{{ environment_name | upper }}] Alertmanager Notification'
        text: '[{{ environment_name | upper }}] Alert fired. Check Alertmanager and Prometheus for details.'
