global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["{{ prometheus_container_name }}:9090"]

  - job_name: node_exporter
    static_configs:
      - targets: ["{{ node_exporter_container_name }}:9100"]

  - job_name: kube_state_metrics
    static_configs:
      - targets: ["{{ ansible_host }}:{{ kube_state_metrics_host_port }}"]

  - job_name: app_health
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: ["http://{{ ansible_host }}:{{ app_host_port }}{{ app_health_path }}"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_container_name }}:9115

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["{{ alertmanager_container_name }}:9093"]
